*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#radius{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin-bottom: 100px;
    box-shadow: -3px 3px 3px black;
    transition: 700ms;
}

input{
    padding: 20px;
    border: 3px solid black;
    box-shadow: -3px 3px 3px black;
    background-color: rgb(62, 62, 243);
    outline: none;
    font-size: 20px;
    text-align: center;
    color: black;
}

#btn{
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(62, 62, 243);
    border: 3px solid black;
    box-shadow: -3px 3px 3px black;
    font-weight: bold;
}